ul, ol {
    margin-bottom: 0rem;
    padding-left: 0px;
}
ul > li, ol > li {
    margin-bottom: 0px;
}

.page-layout-1column .product.media {
    width: 54%;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-size: 32px;
}
.product-info-main .rating-summary, .customer-review .rating-summary {
    margin-right: 3px;
}
.page-layout-1column {

    .product-info-main {
        width: auto;
        @media(min-width: @screen__m) {
            width: 45.1%;
        }
    }
    .product.media {
        width: auto;
        @media(min-width: @screen__m) {
            width: 54%;
        }
    }
}
.page-title-wrapper.product {
    margin-top: 8px;
    margin-bottom: -2px;
}
.product.attribute.sku {
    list-style: none;
}
.product-options-bottom .price-box, .product-info-price .price-box {
    padding-bottom: 0px;
}
.product-reviews-summary .reviews-actions a:not(:last-child) {
    margin-right: 8px;
}
.action.view {
    display: inline-block;
}
.block.related .related-available .product-item-name {
    margin-left: 0px;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active {
    box-shadow: 0px 0px 8px #00000029;
    border: 0;
}
.fieldset > .field, .fieldset > .fields > .field {
    margin: 0 0 20px;
}
.products-grid .product-item-inner {
    box-shadow: none;
    border: 0;
}

.product-info-main  {
    & .product-reviews-summary {
        margin-bottom: 28px;
    }
    .product-info-price {
        display: flex;
        align-items: center;

    }
    .product.attribute.sku {
        & .type {
            margin-right: 0px;
        }
    }
    .product-info-stock-sku {
        padding-left: 15px;
        padding-bottom: 5px;

    }
    & .stock {
        margin: 0px 18px 0px;
    }

}
.fotorama__stage {
    height: 649px !important;
}
.fotorama1678772735651 .fotorama__thumb-border {
    height: 111px;

}
.product {
    &-items {
        display: flex;
        gap: 29px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        &-info {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            width: auto;
            max-width: auto;
        }
        &-details {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            margin-left: 20px;
        }
        &-name {
        }
    }

}

.column.main .product-item {
    display: flex;
    flex-direction: column;
}
.attributes {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    &__container {
        padding: 11px 0px 0px 32px;
        margin-bottom: 13px;
    }
    &__item {
        &:not(:first-child) {
            margin-top: 8px;
        }
        &-value {
            display: inline-block;
        }
    }
    &__title {
        font-weight: bold;
    }
    &__text {
        display: inline-block;
        margin: 0px;
        margin-left: 2px;

    }
    & .description {
        padding: 0px 18px 20px 19px;
        font-size: 12px;
        & p {
            margin: 0px;
        }
    }
}
.product-reviews-summary .reviews-actions {
    display: block;
    @media(min-width: @screen__xs) {
        display: inline-block;
    }
}
.reviews-actions {
    margin-top: 11px;
    @media(min-width: @screen__xs) {
        margin-top: 0px;
    }
}
.action {
    color: #FF5501;
    text-decoration: underline;
    &:visited {
        color: #FF5501;
    }
    & .product-reviews-summary .reviews-actions a:not(:last-child) {
        margin-right: 10px;
    }
    &.add {
        border: 1px solid #333333;
        border-radius: 2px;
        padding: 5px 8px;
        font-weight: bold;
        font-size: 12px;
        color: #333333;
        text-decoration: none;
    }
}
.page-title {
    color: #333333;
    font-size: 32px;
    font-weight: 600;
}
#product-addtocart-button {
    width: 100%;
    background: #FF5501;
    border-color: #FF5501;
    text-decoration: none;
}


.block .title {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 8px;
}
.block .title ,.abs-box-tocart, .bundle-options-container .block-bundle-summary .box-tocart, .box-tocart, .fieldset{
    margin-bottom: 0px;
}
.products {
    margin: 0;
}

.products-related {
    & .action {
        text-decoration: underline;
    }
    & .price {
        font-size: 22px;
    }
    & .product-reviews-summary {
        display: flex;
        align-items: center;
    }
}
.product-item-link {
    font-weight: 600 !important;
    font-size: 16px;
}
.box-tocart .action.tocart:not(:last-child) {
    margin-bottom: 20px;
}
.product-social-links {
    .block-title.title {
        & strong {
        }
    }
}
.block .title strong {
    font-size: 16px;
    font-weight: bold;
}
.products {
    margin-top: 6px !important;
}

@import 'counter.less';
@import 'upsell.less';
@import 'related.less';
