.counter {
    align-items: center;
    display: inline-flex;
    height: 52px;
    &__changer {
        align-items: center;
        border: 1px solid @learning-silver;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 52px;
        &-minus {
            align-items: center;
            display: flex;
            justify-content: center;
            & span {
                background-color: @learning-black;
                height: 2px;
                width: 10px;
            }
        }
        &-plus {
            color: @learning-orange;
            font-size: 34px;
        }
    }
    &__input {
        border: 0 !important;
        border-bottom: 1px solid @learning-silver !important;
        border-top: 1px solid @learning-silver !important;
        height: 100% !important;
        width: 86px !important;
    }
}
.field.qty {
    display: flex;
    flex-direction: column;
    margin: 8px 0  0 !important;
    @media(min-width: @screen__l) {
        margin: 0 0 20px 0 !important;
        flex-direction: row;
    }
}
.product-info-main .stock {
    margin: 6px 0;
    @media(min-width: @screen__l) {
        margin: 0 0 0 18px;
    }
}
.stock {
    align-items: center;
    display: flex;

    @media(min-width: @screen__l) {
        align-items: center;
        flex-direction: row;
    }
    &__text {
        color: @learning-scorpion;
        font-weight: bold;
        margin-bottom: 0;
        margin-left: 1px;
        text-transform: uppercase;
    }
    &__qty {
        margin-left: 7px;
    }
}
.product-info-main .product-add-form {
    padding-top: 8px;
    @media(min-width:@screen__xs) {
        padding-top: 22px;
    }
}
