.related-products {
    @media(min-width:@screen__xs) {
        margin-top: 58px;
    }

    & .related-available {
    }

    & .block-title.title strong {
        font-size: 24px;
        font-weight: 600;
    }

    & .product-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    }

    & .item.product.product-item {
        display: flex;
        width: auto;
    }

    & .block .title {
        padding-bottom: 20px;
    }

    & .block-content.content {
        margin-top: 21px;
    }

    & .product.photo.product-item-photo {
        margin: 0 auto;
        margin: auto;
        min-height: 280px;

        & img {
            object-fit: cover;
        }

        & .product-image-container {
            height: 100%;
        }

    }

    & .product.details.product-item-details {
        margin: 4px 0 0 0;
        padding: 0 10px;
        width: calc(100% - 10px);
    }

    & .product-item-details {
        margin: 0 18px;
        margin-bottom: 10px;
    }

    & .product.name.product-item-name {
        flex: auto;
    }

    .abs-product-link > a:hover,
    .product-item-name > a:hover, .product.name a > a:hover {
        text-decoration: none;
    }

    & .product-item-info {
        align-items: center;
        @media(min-width: @screen__m) {
            align-items: flex-start;
        }
    }

    & .products-grid .product-item-info:hover,
    .products-grid .product-item-info.active:hover {
        margin: 0;
        padding: 0;
        & button {
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
    }

    & .product-item-name {
        margin: 0;
    }

    & .rating-summary {
        margin: 0 8px 0 0;
    }

    & .product-reviews-summary.short {
        margin-bottom: 2px;
        margin-top: 1px;
    }

    & .product-item .price-box {
        margin: 9px 0 0;
    }

    & .actions {
        margin: 10px 0;
        & button {
            font-size: 18px;
            font-weight: bold;
            opacity: 0;
            padding-bottom: 17px;
            padding-top: 14px;
            pointer-events: none;
            transition: opacity 0.3s linear;
            visibility: hidden;
        }
    }
}
