.products-upsell {
    & .product-items {
        display: block;
    }

    & .product-item {
        width: auto !important;
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
    & .product-item-info {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto !important;
        @media(min-width: @screen__xs) {
            flex-direction: row;
        }
    }
    & .product-item-details {
        align-items: center;
        margin-left: 0;

        @media(min-width:@screen__xs) {
            align-items: flex-start;
        }
        @media(min-width: @screen__l) {
            align-items: normal;
            margin-left: 20px;
        }
    }
    & .product-image-container {
        width: 88px !important;
    }
    & .product-image-wrapper {
        padding-bottom: 77% !important;
    }
    & .product-image-photo {
        object-fit: cover;
    }
    & .product-reviews-summary {
        align-items: center;
        display: flex;
    }
    & .reviews-actions {
        display: none;
        flex: 1;
        @media(min-width: @screen__l) {
            display: block;
        }
    }
    & .price {
        font-size: 18px;
        font-weight: 600;
    }
    & .product-item-name {
        margin: 0;
        margin-top: 4px;
    }
    & .rating-summary {
        margin: 0 8px 0 0;
    }
    & .product-reviews-summary {
        margin-bottom: 18px;
        margin-top: 1px;
    }
    & .product-item .price-box {
        margin: 0 0 10px;
        @media(min-width: @screen__xs) {
            margin: 0 0 25px;
        }
    }
}
.upsell-btn {
    background-color: @learning-shaft;
    border-radius: 2px;
    box-sizing: border-box;
    color: @learning-white;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 9px 10px 7px 10px;
    transition: background-color 0.3s linear;
    width: 95%;
    @media(min-width:@screen__xs) {
        width: auto;
        margin-bottom: 0;
    }
    &:visited {
        color: rgb(184, 182, 182) !important;
    }
    &:hover {
        background-color: @learning-emperor;
    }

}
