<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="learning_items_grid_data_source"
                      xsi:type="string">Learning\Brand\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Learning\Brand\Model\ResourceModel\Item\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">learning_brand</argument>
            <argument name="resourceModel" xsi:type="string">Learning\Brand\Model\ResourceModel\Item</argument>
        </arguments>
    </virtualType>
    <type name="Learning\Brand\Observer\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">LearningLogger</argument>
        </arguments>
    </type>
    <type name="Learning\Brand\Console\Command\AddItem">
            <plugin name="console_logger" type="\Learning\Brand\Plugin\Logger"/>
    </type>
</config>
