<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="learning_sample_item_save_after">
        <observer name="learning_logger" instance="Learning\Brand\Observer\Logger" />
    </event>
</config>
