<?xml version="1.0"?>
<!--
    Magebit_Faq
    @category     Magebit
    @package      Magebit_Faq
    @author       Artjoms Fomins <info@magebit.com>
    @copyright    Copyright (c) 2023 Magebit, Ltd.(https://www.magebit.com/)
-->
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd"
>
    <module name="Magebit_Faq"/>
</config>
